:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;

  --accent-bg-color: #e5e5e5;
  --dark-bg-color: #2f303a;
  --white-bg-color: #ffffff;

  --title-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
}

body {
  font-family: var(--title-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.link {
  color: inherit;
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
.list {
  list-style: none;
}
.address {
  font-style: inherit;
  color: var(--white-text-color);
}

.page-title {
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: var(--dark-bg-color);
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.feature-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.paragraf-text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.profession-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.gallery-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.gallery-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Button */
.button-order:hover,
.button-order:focus {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-nav:hover,
.button-nav:focus {
  color: #f5f4fa;
  background-color: var(--accent-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.dark-background {
  color: var(--dark-bg-color);
}

/* Logo Website header*/
.logo-header {
  color: var(--title-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03;
}

/* Logo Website footer*/
.logo-footer {
  color: var(--white-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.colortext {
  color: var(--accent-text-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02;
  cursor: pointer;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.auth-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02;
  cursor: pointer;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}
