:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}

.body {
  color: var(--primary-text-color);
  background-color: #e5e5e5;

  font-family: Roboto, sans-serif;
}
.colortext {
  color: var(--accent-color);
}
/* Logo Website header*/
.logo-header {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Logo Website footer*/
.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero-title {
  color: #ffffff;
  background-color: grey;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Features */
.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Our team */
.team-title {
  color: #212121;
}

/* Button navigation by progects*/
.button-order:hover,
.button-order:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-nav:hover,
.button-nav:focus {
  color: #f5f4fa;
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}

/* Gallery progects */
.gallery-title {
  color: var(--title-text-color);
}
/* Footer*/
.footer {
  background-color: #2f303a;
}
.map {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  cursor: pointer;
}
.contact-footer :hover,
.contact-foter:focus {
  color: var(--accent-color);
}
